<header class="bgimg w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-bottomleft w3-center w3-padding-large w3-hide-small">
    <span class="w3-tag"></span>
  </div>
  <div class="w3-display-middle w3-center">
    <span class="w3-text-white" style="font-size:90px">The<br>To Do App</span>
  </div>
  <div class="w3-display-bottomright w3-center w3-padding-large">
    <span class="w3-text-white"></span>
  </div>
</header>

<!--content-->
<div class="w3-row">
  <div class="w3-col m2 l2 w3-light-gray">
      <br>
  </div>

  <!--second coloumn-->
  <div class="w3-col m8 l8 w3-black">
    <div class="w3-container w3-padding w3-margine">
      <p>
      <form action="/addTask" method="POST">
        <input class="w3-input w3-gray w3-round-xxlarge" type="text" placeholder="Add your task" name="task_name"><br>
        <button type="submit" class="w3-btn w3-border w3-black w3-right w3-margine w3-padding w3-hover-green"><i class="material-icons" >add</i>Add Task</button>
      </form>
      </p>
    </div>

    <div class="w3-container w3-padding w3-margine">
      <hr>
      <h3> My Tasks </h3>
      <table class="w3-table-all w3-left w3-text-black">
        {{#each tasks}}
         <tr>
           <td class="w3-col m10 s10 ">{{ this.task_name}}</td>
           <td class="w3-col m1 s1 "> <a href="/editTask/{{ this.id }}"><button class="w3-btn w3-border w3-black w3-right w3-hover-green w3-small"><i class="fa fa-pencil"></i></button></a></td>
           <td class="w3-col m1 s1 "> <a href="/deleteTask/{{ this.id }}"><button class="w3-btn w3-border w3-black w3-right  w3-hover-green w3-small"><i class="fa fa-close"></i></button></a></td>

         </tr>
         {{/each}}
       </table>
    </div>
  </div>
  <div class="w3-col m2 l2 w3-light-gray">
    <br>
  </div>
</div>
